.content-wrapper {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 65px;
}

.content-wrapper-body {
    padding: 30px;
    background-color: #fafafa;
}

.content-wrapper-header {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    border-bottom: solid 1px green;
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
}
///////////////////////////////// 600px a 1100px
@media all and (min-width:600px) and (max-width: 1100px) {
    .content-wrapper {
        margin: auto;
    }
      
}
/////////////////////////////// 599px
@media all and (max-width:599px) {
    .content-wrapper {
        margin: auto;
    }
}