/.vs
/.vscode
*.user
/Pandora.NetCore.WebApi/bin
/Pandora.NetCore.WebApi/obj
/Pandora.NetStandard.Model/bin
/Pandora.NetStandard.Model/obj
/Pandora.NetStandard.BusinessData/bin
/Pandora.NetStandard.BusinessData/obj
/Pandora.NetStandard.Core/obj
/Pandora.NetStandard.Core/bin
/Pandora.NetCore.UnitTest/obj
/Pandora.NetCore.UnitTest/bin
