/.vs
/.vscode
*.user
*.suo
/obj
/bin
/Pandora.NetCore.WebApi/bin
/Pandora.NetCore.WebApi/obj
/Pandora.NetStandard.Model/bin
/Pandora.NetStandard.Model/obj
/Pandora.NetStandard.Data/bin
/Pandora.NetStandard.Data/obj
/Pandora.NetStandard.Business/bin
/Pandora.NetStandard.Business/obj
/Pandora.NetStandard.Core/obj
/Pandora.NetStandard.Core/bin
/Pandora.NetCore.UnitTest/obj
/Pandora.NetCore.UnitTest/bin
/Pandora.XamarinForms.Shared/bin
/Pandora.XamarinForms.Shared/obj
/Pandora.XamarinForms.UWP/obj
/Pandora.XamarinForms.UWP/bin
/Pandora.XamarinForms.iOS/bin
/Pandora.XamarinForms.iOS/obj
/Pandora.XamarinForms.Android/bin
/Pandora.XamarinForms.Android/obj
/Pandora.NetCore.Identity/obj
/Pandora.NetCore.Identity/bin
/Pandora.NetStandard.Report/obj
/Pandora.NetStandard.Report/bin
/Pandora.Angular.WebApp/bin
/Pandora.Angular.WebApp/obj
