<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="menu-style">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let grade of gradesList" (click)="onItemClick(grade.id)"> {{ grade.name }} </a>
    </mat-nav-list>
    <div><button mat-raised-button class="add-btn">Crear curso</button></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>


      <mat-list-item>
        <h1>School-App</h1>
      </mat-list-item>
      <div class="wrap">
        <span class="example-fill-remaining-space"></span>
        <ul class="float-right">

          <span class="role"> Auxiliar </span>
          <span><button class="logoff-btn" mat-raised-button>cerrar sesion</button></span>

        </ul>
      </div>
    </mat-toolbar>
    <section class="section">
      <app-card-render class="card-render" [classListSource]="classesList"></app-card-render>
      <app-students-table></app-students-table>

    </section>
  </mat-sidenav-content>



</mat-sidenav-container>