.sidenav-container {
  height: 100%;
  position:sticky;
  display: flow ;
  
  background-color: white;
}

.sidenav {
  width: 200px;
  background-color:#1da79b;
  
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #15857b;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
background-color: #15857b;

-webkit-box-shadow: 0px 6px 39px -5px rgba(130,143,148,1);
-moz-box-shadow: 0px 6px 39px -5px rgba(130,143,148,1);
box-shadow: 0px 6px 39px -5px rgba(130,143,148,1);
}
 
.menu-style{
  background-color: #0f5d57;
}

 
.mat-list{ 
  
  display: inherit;
 justify-items: flex-end;

}
.section{
  float: right;
  width: 100%;
  display: flex;
}
.card-render{
  width: -webkit-fill-available;
}

.add-btn{
  background-color:#0d4e49 ;
  margin-left: 45px;
  margin-top: 45px;
}
.logoff-btn{
  background-color:#0d4e49 ;
  margin-right:15px; 
}


.wrap {
  padding-top: 15px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.role{
  padding-right: 15px;
}