<app-content-wrapper headerTitle="Materias Asignadas" headerIcon="subject">
  <div class="teacher">
    <ul class="page-teacher">
      <li *ngFor="let subj of subjectListAsync | async">
        <div>
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{subj.name}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>
                <i>{{subj.validSubjectAssingment.class.name}} División - Turno {{util.getShiftEnumName(subj.shift)}}</i>
              </div>
              <div style="float: left">
                <div style="margin-top: 45px">
                  <mat-checkbox style="cursor: default" [labelPosition]="'before'" [disableRipple]="true"
                    (click)="$event.preventDefault()" color="primary"
                    [checked]="subj?.validSubjectAssingment.classRoom?.hasNetworkConexion">
                    Conexión a la Red
                  </mat-checkbox>
                </div>
                <div>
                  <mat-checkbox style="cursor: default" [labelPosition]="'before'" [disableRipple]="true"
                    (click)="$event.preventDefault()" color="primary"
                    [checked]="subj?.validSubjectAssingment.classRoom?.hasScreenProjector">
                    Proyector y Pantalla
                  </mat-checkbox>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button routerLink="/attend" [queryParams]="subj" color="primary" mat-button>Asistencia</button>
              <button routerLink="/exam" [queryParams]="subj" style="float:right" color="primary"
                mat-button>Examenes</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </li>
    </ul>
  </div>
</app-content-wrapper>