/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { background-color: white; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { cursor: pointer } 

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-green, 300);
$candy-app-accent:  mat-palette($mat-grey, 500);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red, 400);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

mat-toolbar {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
}

// .mat-button-toggle-label-content {
//     line-height: 40px !important;
// }