<app-content-wrapper headerTitle="{{subject.name}} - Asistencia" headerIcon="assignment_ind">
  <mat-accordion class="example-headers-align">

    <mat-expansion-panel *ngFor="let stud of studentListSource | async; let i=index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">account_circle</mat-icon>
          {{stud.id}} - {{stud.fullName}}
        </mat-panel-title>
        <mat-panel-description>
          Descripcion del alumno
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-button-toggle-group name="attends" aria-label="Font Style">
        <mat-button-toggle id="bt1" value="1">Presente</mat-button-toggle>
        <mat-button-toggle id="bt2" value="2">Ausente</mat-button-toggle>
        <mat-button-toggle id="bt3" value="3">Justificado</mat-button-toggle>
      </mat-button-toggle-group>

      <!-- <mat-action-row>
        <button mat-raised-button color="primary" hideToggle>Guardar</button>
      </mat-action-row> -->
    </mat-expansion-panel>

  </mat-accordion>
</app-content-wrapper>