<app-content-wrapper headerTitle="{{subject.name}} - Asistencia - {{date | date :'shortDate'}}"
  headerIcon="assignment_ind">
  <mat-accordion class="example-headers-align">
    <form [formGroup]="groupFrom">
      <mat-expansion-panel formArrayName="arrayForm"
        *ngFor="let stud of studentListSource; let i=index; let isLast=last">

        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">account_circle</mat-icon>
            {{stud.id}} - {{stud.applicationUser.fullName}}
          </mat-panel-title>
          <mat-panel-description>
            Descripcion del alumno
          </mat-panel-description>
        </mat-expansion-panel-header>


          <mat-button-toggle-group [id]="stud.id" name="attends">
            <mat-button-toggle id="bt1" value=1>Presente</mat-button-toggle>
            <mat-button-toggle id="bt2" value=2>Ausente</mat-button-toggle>
            <mat-button-toggle id="bt3" value=3>Justificado</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-form-field *ngIf="resul == 3">
            <textarea type="text" matInput placeholder="Observaciones"></textarea>
          </mat-form-field>
          

        <mat-action-row *ngIf="isLast">
          <button mat-raised-button color="primary" (click)="onSaveAttends(studentListSource)"
            hideToggle>Guardar</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>
  </mat-accordion>
</app-content-wrapper>