.body {
  background-color:whitesmoke;

}

.mat-header{
  background-color:#1da79b;
  height: 160px;
}
.over-header{
  width: 100%;
  height: 30px;
  background-color: #15857b
}
h2 { 
  padding-top: 20px;
  padding-left: 15px;
  color: #ffffff;
}

h6{ 
  padding-top: 15px;
  padding-left: 15px;
  color: #ffffff;
}
.container {
 
    background:white;
    padding: 0;
    width:409px;
    display: flex;  
    flex-direction: column;
    -webkit-box-shadow: 0px 6px 39px -5px rgba(130,143,148,1);
-moz-box-shadow: 0px 6px 39px -5px rgba(130,143,148,1);
box-shadow: 0px 6px 39px -5px rgba(130,143,148,1);
  }
  
  
  
  .register-item {
      color: #ffff;
     	
     
  }
  
  input {
    margin:40px 0;
    width: 100%;
  }
  

  

  .form input[type="password"], .form input[type="email"] {
    width: 80%;
    margin-left: 15px;
    margin-right: 15%;
    font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
}
.form input[type="submit"] { 
 
  background-color: #1da79b;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%
 }

 
input:focus 		{ outline:none; }


  .form-register input[type="email"],
  .form-register input[type="password"],
  .form-register input[type="submit"] {
    
    padding: 1rem;
    color: white;  
    margin-top: 2rem ;
  }
  
  .form-register input[type="email"], .form-register input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .form-register input[type="email"]:focus, .form-register input[type="email"]:hover, .form-register input[type="password"]:focus, .form-register input[type="password"]:hover {
    background-color:#eeeeee;
  }

  .form-register input[type="email"]:focus, .form-register input[type="email"]:hover, .form-register input[type="password"]:focus, .form-register input[type="password"]:hover {
    background-color:rgb(226, 226, 226);
  }
  
  .form-register input[type="submit"] {
    background-color: #1da79b ;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    
  }
  .form-register input[type="submit"]:focus, .form-register input[type="submit"]:hover {
    background-color: #15857b;
  }

  .form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  
  }
  .register-user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
    margin-left: 0;
  }
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .text--center {
    text-align: center;
  }

  input {
    border: 0;
    color: inherit;
    font: inherit;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
   
  
  .form input[type="password"], .form input[type="email"], .form input[type="submit"] {
    width: 100%;
  }
  .form-register input[type="email"], .form-register input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .form-register input[type="email"]:focus, .form-register input[type="email"]:hover, .form-register input[type="password"]:focus, .form-register input[type="password"]:hover {
    background-color:rgb(226, 226, 226);
  }

  .form-register input[type="submit"]:focus, .form-register input[type="submit"]:hover {
    background-color: #15857b;}

  .form-register input[type="submit"] {
    background-color: #1da79b ;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
  }

  .register-user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
    margin-left: 0;
  }
  
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .text--center {
    text-align: center;
  }
  
  .form-login{
    
   padding-top: 15px;
    margin-bottom: initial;
    margin-top: 45px;
  }