.dialog-wrapper {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 0px;
}

.dialog-wrapper-body {
    padding: 30px;
    background-color: #fafafa;
}

.dialog-wrapper-header {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    border-bottom: solid 1px green;
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
}

.dialog-wrapper-footer {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    border-top: solid 1px green;
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);

    & button {
        margin: 0px 10px;
    }
}