<div class="dialog-wrapper">
    <div class="dialog-wrapper-header">
        <div style="flex: 1 1 auto;">
            {{data.title}}
        </div>
        <mat-icon #iconElem>{{data.icon}}</mat-icon>
    </div>
    <div class="dialog-wrapper-body">
        <div mat-dialog-content>
            <p>
                {{data.message}}
            </p>
        </div>
    </div>
    <div class="dialog-wrapper-footer">
        <button *ngIf="iconType == 'warning'" mat-button mat-raised-button color="accen" (click)="onNoClick()">Cancelar</button>
        <button mat-button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
    </div>
</div>