mat-card-header {
    border-bottom: solid 1px green;
    justify-content: center;
}

mat-card-content {
    text-align: -webkit-center;
    height: 100px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

mat-card-actions {
  border-top: solid 1px green;
  button{
    width: 50%;
    margin: 0px;
  }

}

mat-icon {
  margin-right: 15px;
}

mat-button-toggle-group {
  //height: 40px;
  font-weight: 500;
  margin-right: 30px;
}

#bt1.mat-button-toggle-checked {
  background-color: green;  
}
#bt2.mat-button-toggle-checked {
  background-color: red;
}
#bt3.mat-button-toggle-checked {
  background-color: yellow;
}