<app-content-wrapper headerTitle="Inscribirse" headerIcon="library_add">
    <mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="selectionChange($event)">
        <mat-step [stepControl]="firstFormGroup">
            <form class="step-form" [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Elija una materia</ng-template>
                <mat-form-field>
                    <input type="text" placeholder="Materia" aria-label="Materia" matInput formControlName="firstCtrl"
                        [matAutocomplete]="auto" required>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let subj of subjectsListAsync | async" [value]="subj">
                            {{subj.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" matStepperNext [disabled]="!firstFormGroup.valid"
                        class="stepper-button next">Comprobar</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form class="step-form" [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Comprobar</ng-template>
                <div style="width: 50px">
                    <mat-icon *ngIf="available" [inline]="true" style="color: green" svgIcon="check_circle"
                        aria-hidden="false" aria-label="Available"></mat-icon>
                    <mat-icon *ngIf="!available" [inline]="true" style="color: red" svgIcon="highlight_off"
                        aria-hidden="false" aria-label="Not Available"></mat-icon>
                </div>
                <h4>
                    {{available ? 'Se puede inscribir!' : 'No se puede inscribir!'}}
                </h4>
                <div>
                    <button mat-raised-button matStepperPrevious class="stepper-button prev">Volver</button>
                    <button mat-raised-button color="primary" matStepperNext [disabled]="!secondFormGroup.valid"
                        class="stepper-button next">Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Resumen</ng-template>
            <div class="step-form">
                Esta a punto de inscribirse en MATERIA
            </div>
            <div>
                <button mat-raised-button matStepperPrevious class="stepper-button prev">Volver</button>
                <button mat-raised-button color="primary" class="stepper-button next"
                    (click)="onConfirmar()">Confirmar</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</app-content-wrapper>