button {
  width: 100%;
  margin-top: 25px;
}

mat-form-field {
  width: 100%;
}

app-content-wrapper {    
  width: 470px;
	height: 350px;	
	position: absolute;
	top:-65px;
	bottom: 0;
	left: 0;
	right: 0;  	
	margin: auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}
  
.example-container > * {
  width: 100%;
}

.btn-login {
  border: solid 1px green;
  color: white;

  &.social{
    width: 100%;
    width: 47%;

    &.facebook {
      background-color: royalblue;
      float: left;
      border: blue;
    }
    &.google {
      background-color: #de4b4b;
      float: right;
      border: red;
    }
  }
}