<app-content-wrapper headerTitle="Student" headerIcon="perm_contact_calendar">
        <mat-grid-list cols="1" rowHeight="340px">
            <mat-card style="padding-top: 0">
                <mat-tab-group dynamicHeight>
                    <mat-tab label="Calificaciones">
                        <div class="tab-content mat-elevation-z4">
                            Calificaciones
                        </div>
                    </mat-tab>
                    <mat-tab label="Asistencias">
                        <div class="tab-content mat-elevation-z4">
                            Asistencias
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </mat-grid-list>
</app-content-wrapper>