<app-content-wrapper headerTitle="Iniciar Sesión" headerIcon="lock">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container" autocomplete="off">
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>

        <mat-form-field>
            <input matInput placeholder="Usuario" formControlName="username" minlength="6">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="f.username.invalid">Usuario valido requerido</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Contraseña" formControlName="password"
                [type]="hidePassword ? 'password' : 'text'" minlength="6">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer">
                {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="f.password.invalid">Contraseña valida requerida</mat-error>
        </mat-form-field>
        <br>
        <mat-checkbox color="primary" formControlName="rememberme">Recordarme</mat-checkbox>

        <div class="form-group">
            <button class="btn-login" mat-raised-button color="primary" [disabled]="!loginForm.valid || loading">Ingresar</button>
        </div>
        <div class="form-group" style="height: 23px">
            <input type="button" class="mat-raised-button btn-login social facebook" color="blue" value="Facebook" (click)="facebookLogin()">
            <input type="button" class=" mat-raised-button btn-login social google" color="white" value="Google" (click)="googleLogin()">
        </div>
    </form>
</app-content-wrapper>